body{
    margin:0;
}

.nav__container{
    background-color: #6E00FF;
    font-family: Montserrat;

    .self__header{
        display: flex;
        align-items: center;
        padding: 0.1em;
        justify-content:space-between;

        .logo{
            text-decoration: none;
            color: #10EFFF;
            padding: 1em;
        }

        ul{
            display: flex;
            padding: 0.2em;
            list-style-type: none;
            li{
                a{ 
                    color: white;
                    text-decoration: none;
                
                }
                padding: 0.7em;
                
            }
        }
    }

    .contacts__header{

        display: none;
    }

  
}

.Hero__section{
    background-color: #6f00fff5;
    display: grid;
    .Hero__text{
        margin: 0;
        text-align: center;
        color: #FFFFFF;
        font-family: Montserrat;
        padding: 3.2em;
    }

    .meet{
        text-align: center;
        color:#FF10C6;
        font-family: Segoe UI;
        font-weight: bold;
    }

    .Hero__scroll{
        width:30px;
    }

    .Hero__design{
        display:none;
    }
}

.featured{

    .featured__text1{
        text-align:center;
        font-family: Segoe UI;
        color:#6E00FF;
        position: relative;
        letter-spacing: 0.1em;
        margin-bottom: 0.2em;
        margin-top: 2.5em;
    }

    .featured__text1::before{
        content: " ";
        position: absolute;
        width: 40px;
        height: 10px;
        background-color: #10EFFF;
        bottom:-6.9px;
    }

    .featured__text2{
        text-align: center;
        font-family: Segoe UI;
        color: rgb(85, 84, 84);
        margin: 0;
    }

    p{
        text-align: center;
        margin-top: 0.4em;
        font-family: Segoe UI;
        color: #8A7F98;
    }
    
    .tech__stacks{
        display: flex;
        flex-direction:column;
        align-items: center;

        .python{
            width: 50%;
        }

        .react{
            width: 50%;
        }

        .c{
            width:50%
        }
        .html{
            width: 50%;
        }
    }

    .featured__design{
        width: 50px;

    }
}


@media only screen and (min-width: 1050px){
    .Hero__section{
        height: 90vh;
    }

    .nav__container{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        
        .self__header{
            background:#6700EE;
            padding: 1em 9.4em 0.2em 1em;
        }

        .contacts__header{
            display: unset;

            ul{
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                width: 17em;
                img{
                    width: 23px;
                }
            }
            
        }
    }

    .Hero__section{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content {
            background:#6E00FF ;
            padding: 6em 8em 6em 4em;
         

            h1{ 
                font-size: 2.3em;
                line-height:1.2em;
                text-align: left;
                margin-left: 0.1em;
            }

            .meet{
                text-align:left;
                margin: unset;
                padding: 1em 6.9em
                
            }
        }

        .Hero__design{
            display:unset;
            margin-left: -50%;
            margin-top: 15%;
            width: 100%;
        }
    }



    

}