.hero__section{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    height: 720px;
    font-family: Segoe, "Segoe UI";
    background-color: #091c29;
}

.hero__section__img{
    width: 430px;
    margin-top: 66px;
    margin-right: 30px;
}

.hero__section__text{
    text-align: center;
    font-family: Montserrat;
    color: rgb(17, 135, 204);
    margin-top: 80px;
}

.intro__text{
    font-family: Segoe UI;
    color: white;
}

.hiring{
    display: flex;
    align-items: center;

}

.hire-me__text{
    color: white;
    margin-right: 5px;
}

.discover__btn{
    background: rgb(17, 135, 204);
    color: white;
    border: none;
    padding: 15px;
    border-radius:6px ;
    margin-bottom: 40px;
    animation: move 1s infinite alternate;
}

@keyframes move{
    from {
        transform: translateY(0px);
    }

    to{
        transform: translateY(20px);
    }
}

@media only screen and (max-width: 520px){
    .hero__section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero__section__img{
        
        width: 270px;
        margin-top: 66px;
        
    }

    .hero__section__text{
        text-align: center;
        font-family: Montserrat;
        color: rgb(17, 135, 204);
        margin-top: 80px;
        font-size: 24px;
    }

    .intro__text{
        font-size: 17px;
        color: white;
    }
    
}

@media only screen and (max-width: 769px){
    .hero__section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    

}