.project__card{
    padding: 20px;
    width: 400px;
    height: 250px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.219);
    transition: transform 9ms ease-in-out;
    background-color: rgba(45, 76, 212, 0.849);
    

}

.project__card:hover{
    transform: scale(1.1);
}

.project__card__header{
    font-family: Montserrat;
    color: white;
}

h4{
    color: white;
}

.project__card__details{
    display: flex;
    
}

.project__info{
    color: rgb(165, 164, 164);
    padding: 5px;
}

.project__link{
    text-decoration: none;
    font-weight: bold;
    color: #56ca28;

}

@media only screen and (max-width: 520px){

    .project__card{
        display: flex;
        flex-direction: column;
        margin-left:auto;
        margin-right: auto;
        justify-content: center;
        padding: 14px;
        width: 300px;
        height: 200px;
        box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.219);
        transition: transform 9ms ease-in-out;
        margin-bottom: 25px;
    
    
    }

}


@media only screen and (max-width: 769px){

    .project__card{
        display: flex;
        flex-direction: column;
        margin-left:auto;
        margin-right: auto;
        padding: 14px;
        width: 300px;
        height: 250px;
        box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.219);
        transition: transform 9ms ease-in-out;
        margin-bottom: 25px;
    
    
    }

}