.resume{
    height: 680px;
    padding: 5px;
}


.resume__header{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    padding: 10px;
    position: relative;
    margin-bottom: 20px;
}

.resume__header::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background: #0c73b8;
    bottom: 0px;
}

.resume__img{
    width: 420px;
    margin-right: 15px;
}

.resume__paragraph{
    line-height: 29px;
    font-weight: 500;
    font-size: 17px;
    width: 430px;
}

.resume__button{
    background: rgba(17, 135, 204, 0.651);
    color: white;
    border: none;
    padding: 15px;
    border-radius:6px ;
    margin-bottom: 40px;
}

.resume__info{
    display: flex;
    justify-content: center;

}

@media only screen and (max-width: 520px){

    .resume{
        display: flex;
        flex-direction: column;
    }
    .resume__info{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .resume__button{
        margin-left: 166px;
        
    }

    .resume__img{
        text-align: center;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .resume__paragraph{
        text-align: center;
        line-height: 29px;
        font-weight: 500;
        font-size: 14px;
        width: 330px;
        margin-left:auto;
        margin-right:auto;
    }
}

@media only screen and (max-width: 769px){

    
    .resume__paragraph{

        
        line-height: 29px;
        font-weight: 600;
        font-size: 17px;
        width: 330px;
        margin-left:auto;
        margin-right:auto;
    }

    .resume__img{
        text-align:center;
        width: 200px;
    }

    

}
