.about{
    background: #091c29;
    
}


.about__header{
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: Montserrat;
    padding: 10px;
    position: relative;
}

.about__header::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background: yellow;
    bottom: 0px;
}

.about__information{
    display: flex;
    justify-content: center;
}

.about__paragraph{
    color:white;
    line-height: 29px;
    font-weight: 500;
    font-size: 19px;
    width: 590px;

    
}

.about__img{
    width: 500px;
    margin-right: 25px;
    margin-bottom: 19px;
}

@media only screen and (max-width: 520px){
    .about{
        height: 700px;
        height: max-content;
    }

    .about__information{
        display: flex;
        flex-direction: column;
    }
    .about__paragraph{
        color:white;
        text-align: center;
        line-height: 29px;
        font-weight: 500;
        font-size: 14px;
        width: 330px;
        margin-left:auto;
        margin-right:auto;
    }

    .about__img{
        text-align: center;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }


}


@media only screen and (max-width: 769px){
    .about__paragraph{
        color:white;
        text-align: center;
        line-height: 29px;
        font-weight: 500;
        font-size: 14px;
        width: 300px;
        margin-left:auto;
        margin-right:auto;
    }

    .about__img{
        text-align: center;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }


}