.navigation{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-family: Montserrat;
    padding: 10px;
    background: #091c29;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navigation__link{
    color: white;
    padding: 10px;
    padding-right: 27px;
    text-decoration: none;
}

.navigation__link:hover{
    color:rgb(17, 135, 204);
}

.items{
    text-decoration: none;
    color: white;
}



.navigation__logo{
    color:rgb(17, 135, 204);
    padding-left: 27px;
   
    
}

.navigation__logo a{
    text-decoration: none;
    color: white;
}

.navigation__logo a:hover{
    color:rgb(17, 135, 204);
} 


@media only screen and (max-width: 520px){
    .navigation__logo{
        color: white;
        padding-left: 27px;
        font-size:15px ;
        
    }

    .navigation__link{
        color: white;
        padding: 10px;
        padding-right: 27px;
        text-decoration: none;
        font-size: 12px;
    }

    

}